-#  This file is app/views/students/index.html.haml


<input type="text">
<input class="small button" type="submit" value="Sign In">
<input class="small button" type="submit" value="Student Hours">
<input class="small button" type="submit" value="Professor Hours">



